.profile-form__input-about{
    font-family: "Inter400", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 121%;
    color: black;
    width: 80%;
    margin: 5% auto;
    border: none;
    border-bottom: solid 1px #c4c4c4;
}

.profile-form__input-about:invalid {
    border-bottom: 1px solid red;
}

.profile-form__input-about:valid {
    border-bottom: 1px solid green;
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .profile-form__input-about{
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .profile-form__input-about{
        font-size: 40px;
    }
}