.popup-add__container{
    width: 75%;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    position: relative;
   }

   @media screen and (min-width: 320px) and (max-width: 768px){
    .popup-add__container{
        width: 70%;

    }
}

@media screen and (max-width: 320px){
    .popup-add__container{
        width: 60%;
    }
}