.popup__container{
    position: absolute;
    width: 30%;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);  
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
   

}

@media screen and (min-width: 320px) and (max-width: 768px){
    .popup__container{
        width: 60%;
        transform: translate(-30%, -50%); 
        
    }
}

@media screen and (max-width: 320px){
    .popup__container{
        width: 80%;
        transform: translate(-35%, 0);   
    }
};