.popup__container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 50%;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
   

}