.button-perfil{
    width: 50%;
    height: 20%;
    background-image: url(/images/Edit-Button.svg);
    background-size: 100% 100%;
    margin: 70%  auto auto 0;
    border: none;
    cursor: pointer;
}

.button-perfil:hover{
    opacity: 50%;

}