.button-lugar{
    width: 50%;
    height: 40%;
    background-image: url(/images/add-button+.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    margin: auto 0 auto auto;
    outline: none;
    cursor: pointer;
    
}
.button-lugar:hover{
    opacity: 50%;
}