.button-lugar{
    width: 50%;
    height: 40%;
    background-image: url(/images/Add-Button.svg);
    background-color: transparent;
    background-size: 100% 100%;
    margin: auto 0 auto auto;
    border: none;
    cursor: pointer;
}
.button-lugar:hover{
    opacity: 50%;
}