.imagenes-expand__container{
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 320px) and (max-width: 768px){
    .imagenes-expand__container{
        transform: translate(50%, -900%);
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .imagenes-expand__container{
        width: 80%;
        transform: translate(-35%, 0);   
    }
};