.popup-add__title{
    font-family: "Inter900", Helvetica, sans-serif;
    font-size: 40px;
    line-height: 121%;
    color: black;
    width: 80%;
    margin: 10% auto;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .popup-add__title{
        font-size: 50px;
    }
}

@media screen and (max-width: 320px){
    .popup-add__title{
        font-size: 50px;
    }