.element__image{
    width: 97.5%;
    height: 98%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
    cursor: pointer;
    border: white solid 1px;

}

.element__image:hover{
    opacity: 80%;
}
    