.element__image{
    width: 97%;
    height: 98%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
    cursor: pointer;
    border: white solid 0.05px;

}

.element__image:hover{
    opacity: 80%;
}

@media screen and (max-width: 320px){
    .element__image{
        cursor:none;
    }
}
    