.popup-add__lugar{
    font-family: "Inter400", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 121%;
    color: black;
    width: 80%;
    margin: 5% auto;
    border: none;
    border-bottom: solid 1px #c4c4c4;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .popup-add__lugar{
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .popup-add__lugar{
        font-size: 40px;
    }