/*.profile-form__error{
    visibility: visible;
}
*/

.profile-form__error_active{
    font-family: "Inter400", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 121%;
    color: red;
    width: 80%;
    margin: 0 auto;
    border: none;
}
