.button-place{
    width: 50%;
    height: 40%;
    background-image: url(../../images/add-button+.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    margin: auto 0 auto auto;
    outline: none;
    cursor: pointer;
    
}
.button-place:hover{
    opacity: 50%;
}

@media screen and (min-width: 320px) and (max-width:768px){
    .button-place{
        width: 70%;
        height: 45%;
        margin: 10% auto;
        
    }
}

@media screen and (max-width: 320px){
    .button-place{
        width: 65%;
        height: 25%;
        margin: 5% 0 auto auto;
        
    }
}